<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>{{title}}</title>

<div id="cartDiv" class="flex">
    <h1>Tus carritos de compras:</h1>

    {{!-- <div id="productsCartDiv">

    </div> --}}
    <div id="productsCartDiv">
        {{#each productsInCart}}
        <div id={{this._id}}>
            <h2>{{this._id.title}}</h2>
            <ul>
                <li>Precio: $ {{this._id.price}}</li>
                <li>Categoria: {{this._id.category}}</li>
                <li>Descripción: {{this._id.description}}</li>
                <li>Stock: {{this._id.stock}}</li>
            </ul>

        </div>
        {{/each}}
    </div>

    <div>
        <button type="submit" id="buttonFinish" value={{dataUser.user.cartID}}>
            Finalizar Compra
        </button>
    </div>

</div>

<script type="text/javascript" src="/js/indexCart.js"></script>