<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>{{title}}</title>

<div id="cartDiv" class="flex">
    <h1>Tus carrito de compras:</h1>
    {{!-- <div id="productsCartDiv">

    </div> --}}
    <div id="productsCartDiv">
        {{#each productsInCart}}
        <div id={{this.id}}>
            <h2>{{this.title}}</h2>
            <ul>
                <li>Precio: $ {{this.price}}</li>
                <li>Categoria: {{this.category}}</li>
                <li>Descripción: {{this.description}}</li>
                <li>Cantidad: {{this.quantity}}</li>
            </ul>
            <h4>Subtotal: ${{this.totalProduct}}</h4>
        </div>
        {{/each}}
        <h4>Total compra: $ {{total}}</h4>
    </div>

    <div>
        <button type="submit" id="buttonFinish" value={{dataUser.user.cartID}}>
            Finalizar Compra
        </button>
    </div>

</div>

<script type="text/javascript" src="/js/indexCart.js"></script>
