<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>{{title}}</title>

<div class="flex">
    {{#if dataUser}}
    <div class="container">
        <h1>Bienvenido/a, {{dataUser.completeName}}!</h1>
        <form action="/api/carts/{{dataUser.cartID}}">
            <button id="buttonSearch" value="{{dataUser.cartID}}">
        </form>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2"
            viewBox="0 0 16 16">
            <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
        </svg>
        </button>
    </div>
    <a href="/profile">
        <button>Mi perfil</button>
    </a>
    <a href="/api/sessions/logout">
        <button>Cerrar Sesión</button>
    </a>
    <a href="/chatUsers">
        <button>Ir al Chat</button>
    </a>
    <h1>Lista de productos:</h1>
    <div>
        <p>Cantidad de productos: {{products.totalDocs}}</p>
        <p>Productos máximos por página: {{products.limit}}</p>
    </div>
    <div id="products">
        {{#each products.docs}}
        <div id={{this._id}} class="product flex">
            <h2>{{this.title}}</h2>
            <ul>
                <li>Descripción: {{this.description}}</li>
                <li>Precio: $ {{this.price}}</li>
            </ul>
            <img src="{{this.thumbnail}}" alt="{{this.description}}">
            <button type="submit" class="buttonProduct" value={{this._id}}>Agregar al carrito</button>
        </div>
        {{/each}}
    </div>
    <div class="links">
        {{#if products.hasPrevPage}}
        <a href={{products.prevLink}}>Anterior</a>
        {{/if}}
        {{products.page}}
        {{#if products.hasNextPage}}
        <a href={{products.nextLink}}>Siguiente</a>
        {{/if}}
    </div>
    {{else}}
    <div>
        <h2>
            Tu tiempo de sesión expiró, por favor volvé a loguearte.
        </h2>
        <a href="./">
            <button>
                Volver al Inicio
            </button>

        </a>
    </div>
    {{/if}}
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/js/indexProducts.js"></script>