<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Tu perfil de usuario</title>

{{#if profileUser.first_name}}
<div class="flex">
    <h1>Información de usuario</h1>
    <div class="cardUser">
        <h3>Nombre/s: </h3>
        <p>{{profileUser.first_name}}</p>
        <h3>Apellido/s: </h3>
        <p>{{profileUser.last_name}}</p>
        <h3>Email: </h3>
        <p>{{profileUser.email}}</p>
        <h3>Edad: </h3>
        <p>{{profileUser.age}}</p>
        <h3>Perfil de usuario: </h3>
        <p>{{profileUser.profile}}</p>
    </div>
    {{#if adminUser}}
    <div>
        <a href="/realTimeProducts">
            <button>
                Editar Productos
            </button></a>
    </div>
    {{/if}}
</div>
{{else}}
<div>
    <h2>
        Tu tiempo de sesión expiró, por favor volvé a loguearte.
    </h2>
    <a href="./">
        <button>
            Volver al Inicio
        </button>

    </a>
</div>
{{/if}}