<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>Tu perfil de usuario</title>

{{#if profileUser.first_name}}
<div class="flex">
    <a href="/products">
        <button>Volver al Home</button>
    </a>
    <h1>Información de usuario</h1>
    <div class="cardUser">
        <h3>Nombre/s: </h3>
        <p>{{profileUser.first_name}}</p>
        <h3>Apellido/s: </h3>
        <p>{{profileUser.last_name}}</p>
        <h3>Email: </h3>
        <p>{{profileUser.email}}</p>
        <h3>Edad: </h3>
        <p>{{profileUser.age}}</p>
        <h3>Perfil de usuario: </h3>
        <p>{{profileUser.role}}</p>
        {{!-- <div>
            {{#if profileUser.image}}
            <img src="{{profileUser.pathImage}}" alt="Profile Image">
            {{/if}}
            <form action="api/users/{{profileUser._id}}/profile" method="post" enctype="multipart/form-data"
                class="flex">
                <input type="file" name="profileImage" id="profileImage">
            </form>
            <button type="submit">
                Subir nueva foto de perfil
            </button>
        </div> --}}
    </div>

    <div class="cardUser">
        <h3>Modifica tu suscripción</h3>

        <div>
            <h4>Carga la documentación necesaria para cambiar tu suscripción a Premium</h4>
            <span>** Si ya sos usuario Premium y querés volver a usuario regular no necesitas cargar documentación
                alguna</span>
            <form action="api/users/{{profileUser._id}}/documents" method="post" enctype="multipart/form-data"
                class="flex">
                <label for="ID">Identificación</label>
                <input type="file" name="ID" id="ID" required>
                <label for="address">Comprobante de domicilio</label>
                <input type="file" name="address" id="address" required>
                <label for="accountStatus">Comprobante de domicilio</label>
                <input type="file" name="accountStatus" id="accountStatus" required>
                <button type="submit">
                    Cargar Documentación
                </button>
            </form>
        </div>
        <form action="api/users/premium/{{profileUser._id}}">
            <button type="submit">
                Modificar suscripción
            </button>
        </form>
    </div>
    <div>
        <a href="/realTimeProducts">
            <button>
                Editar Productos
            </button></a>
    </div>
</div>
{{else}}
<div>
    <h2>
        Tu tiempo de sesión expiró, por favor volvé a loguearte.
    </h2>
    <a href="./">
        <button>
            Volver al Inicio
        </button>

    </a>
</div>
{{/if}}